@import "tailwindcss";

@theme {
  --color-primary: #002d52;
  --color-text: #333333;
  --color-secondary: #a26928;
}

@layer base {
  body {
    @apply bg-white text-text;
  }

  h1,
  h2,
  h3 {
    @apply font-light text-primary leading-[1.3em];
  }

  p {
    @apply font-light text-[.9rem];
  }
}

@layer utilities {
  .container {
    @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@layer components {
  .container-y-padding {
    @apply py-[3rem] sm:py-[6rem];
  }
}
